.highlighted-date {
  background-color: #38a169; /* Use a color that fits your theme */
  color: white;
  border-radius: 50%;
}

.scheduleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100vh;
  max-height: 100vh;
  overflow-y: auto;
}

.calendarContainer {
  position: relative;
  height: 80vh;
  overflow-y: auto;
  /* top: 20px; */
}

.pickerContainer {
  position: sticky;
  top: 20px;
}

