.search {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.search_input {
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  flex: 1;
  font-size: 16px;
  outline: none;
}

.search_button {
  background-color: #4A90E2;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  display: flex;
  border-radius: 40px;
  justify-content: center;
}

.search_button:hover {
  background-color: #386fad;
}
