@import "./variables.css";

/* App.css */

.main {
  font-family: "Inter", sans-serif;
  background-color: var(--main-bg);
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex: 1; 
  flex-direction: column; 
  overflow: hidden; 
}

.menuContainer {
  width: 100%;
  padding: 10px;
  border-right: 2px solid var(--soft-bg);
  background-color: var(--menu-bg); 
}

.contentContainer {
  padding: 10px;
  width: 100%;
  background-color: var(--content-bg); 
  overflow-y: auto; 
}

@media (min-width: 908px) {
  .container {
    flex-direction: row; 
  }

  .menuContainer {
    width: 250px; 
  }

  .contentContainer {
    width: calc(100% - 250px);
  }
}
